<!-- vista inicial permite crear registro o ingresar a la sala de espera -->

<%- layout('layouts/main') %>


     <div class="container">
          <div class="p-5 mb-4 bg-light rounded-3">
               <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold"> El Gran Buda</h1>
                    <p>Bienvenidos,  Grand BingoCasino les da la Bienvenida</p>
                    <img class="mt-1 ml-auto"
                         src="https://www.mendozapost.com/files/image/394/394357/62cc42345d3f0_360_480!.jpg?s=61dc758eca41fc374a36f48690937188&d=1657555292"
                         alt="" width="500" height="250" />
               </div>
          </div>
     </div>