<!-- carga barra de navegacion con las diferentes rutas tanto de infreeso yregistro asi como un loby personal de cada usuario -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Grand Bingo </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
  
</head>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Grand</a>
    <img class="mt-1"
    src="https://media.istockphoto.com/vectors/bingo-vector-typography-vector-id1183778794?k=20&m=1183778794&s=612x612&w=0&h=VQcToZ56AW6TAqbjA5LdLY19eSFLWejOaz3HTV6G2BE="
    alt="" width="300" height="150" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <%if (user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Exit</a>
          </li>

          <% } else{ %>

            <li class="nav-item">
              <a class="nav-link" href="/signin">Entrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Registrarse</a>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>

<body>

  <!-- NAVIGATION -->
  <div class="container">

    <%if (signinMessage.length> 0) {%>

      <div class="alert alert-danger">
        <%= signinMessage %>
      </div>

      <% } %>
        <%if (signupMessage.length> 0) {%>

          <div class="alert alert-danger">
            <%= signupMessage %>
          </div>

          <% } %>

            <%- body %>



  </div>




</body>

</html>